body {
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #FAFAFB;
  overflow: scroll;
  overflow-x: hidden; /* 禁止水平滚动 */
}

::-webkit-scrollbar {
  display: none; /* Safari 和 Chrome */
}

.header-bar {
  height: 50px;
  background-color: rebeccapurple;
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

:root {
  --theme-color: #FF7839; /* 定义全局主题颜色变量 */
  --el-color-primary: #FF7839; /* 设置主色调为橙色 */
  --el-color-primary-dark-2: #FF7839;
  .el-table th {
    color: #707177;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  /* 设置单元格字体颜色 */
  .el-table td {
    color: #707177;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }


  .el-date-editor {
    --el-date-editor-width: 62px;
  }

}

@media (max-width: 768px) {
  .el-date-range-picker .el-picker-panel__body {
    min-width: 100%;
  }
  .el-date-range-picker__content{
    width: 100% !important;
  }
  .el-date-range-picker{
    width: 80% !important;
  }
  .el-date-range-picker__content{
    margin: 0px;
    padding: 5px;
  }
  .el-date-range-picker__content.is-left{
    padding-bottom: 0px;
  }
  .el-date-range-picker__content.is-right {
    padding-top: 0px;
  }
  .el-date-table th{
    padding: 0px;
  }
  .el-date-table td{
    padding: 0px;
  }
}


.el-table--scrollable-x .el-table__body-wrapper {
  overflow: visible !important;
}

.el-table--scrollable-x .el-table__body,
.el-table--scrollable-x .el-table__header,
.el-table--scrollable-x .el-table__footer,
.el-table--scrollable-x .el-table__body-wrapper {
  overflow: visible !important;


}

.el-table--scrollable-x .el-table__body-wrapper:hover {
  overflow: visible !important;
}

.el-table--scrollable-x .el-scrollbar__bar {
  visibility: hidden !important;
}